.titre1 {
    color: rgb(140, 222, 117);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
}



.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.photo {
    width: 50px;
    height: 60px;
}

.btn1 {
    border: none;
    cursor: pointer;
}

.btn1:hover {
    background-color: red;
}

.input1 {
    border: 3px solid black;
}

.paragraphe1 {
    border: 3px solid red;
}

.case {
    display: flex;
    flex-direction: column;
}

.btn1 {
    padding: 20px;
    margin: 10px 0;
}